<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .parent {
            width: 50%;
            height: 300px;
            margin: 0 auto;
            border: 3px solid #000000;
            position: relative;
        }

        .child {
            width: 80%;
            height: 50%;
            background: #ffffff;
            position: absolute;
            top: 25%;
            left: 10%;
        }
    </style>
</head>
<body>
{% for user in users %}
    <div class="parent">
        <div class="child">
            Сообщение для: {{ user.name }} <br>
            Дата рождения: {{ user.birthday }}
        </div>
    </div>
{% endfor %}
</body>
</html>